$pink-100: deeppink;

$prussian-blue-600: #002a4b;
$prussian-blue-500: #003153;
$prussian-blue-450: #33546e;
$prussian-blue-400: #556679;
$prussian-blue-300: #7f94a5;

$grey-900: #8094a5;
$grey-800: #7f94a5;
$grey-700: #7e7e7e;
$grey-600: #bbbbbb;
$grey-300: #d8d8d8;
$grey-250: #e1e1e1;
$grey-200: #eee;
$grey-100: #f5f5f5;

$dark: #000;
$light: #fff;

$green-700: #009b47;
$green-600: #39b449;
$green-100: #cfebdb;

$red-600: #ff0000;
$red-550: #fd0000;
$orange-50: #fff2df;
$orange-75: #ffe4bf;
$orange-600: #f45f06;
$orange-400: #ff9040;

$dark: #000;
$light: #fff;

$background-color: $grey-100;
$primary-text-color: $dark;
